body{
    background-image: url("https://image.freepik.com/vetores-gratis/padrao-sem-emenda-de-bela-moden-primavera-com-folhas-verdes-sobre-fundo-verde-claro-folhas-e-papeis-de-parede-de-flores-fundo-floral_176161-458.jpg");
}

main{
    background-color: rgb(255, 255, 255);
    max-width: 550px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow:0 0 10px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.tituloPrincipal {
    font-size: 30px;
    padding: 20px;
    border-bottom: 2px dashed black;
    text-align: center;
    border: 1px olid rgb(221, 132, 132);
    text-transform: uppercase;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.subTitulo {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 10px;
}

.pesquisaArvore{
    display: flex;
    flex-direction: column;
}

.pergunta{
    margin-bottom: 4px;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}

.negrito{
    font-weight: bold;
    padding: 20px;
    
}


.block{
    border-radius: 10px;
    height: 20px;
    width: 200px;
    padding: 2px 0px 2px 10px; 
    outline: none;
    
}

.radioTroncos{
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.radioFolhas{
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.subtipoFolhas{
    font-weight: bold;
    padding: 20px;
}

.radioSubtipoFolhas{
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.divSubtipoPina {
    display: none;
}

.divSubtipoPalma{
    display: none;
}

.divSubtipoPeda{
    display: none;
}

.botaoEnviar {
    text-align: center;
    padding: 25px;
}

.botaoPesquisar{
    cursor: pointer;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.botaoPesquisar:active{
    border-color: rgb(4, 160, 12);
}

.botaoPesquisar:hover{
    color:black;
    background-color: rgb(97, 211, 52);
    font-weight: bolder;
    
}