body{
    background-image: url("https://image.freepik.com/vetores-gratis/padrao-sem-emenda-de-bela-moden-primavera-com-folhas-verdes-sobre-fundo-verde-claro-folhas-e-papeis-de-parede-de-flores-fundo-floral_176161-458.jpg");
}

section{
    background-color: rgb(255, 255, 255);
    max-width: 550px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow:0 0 10px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.tituloPrincipal {
    font-size: 30px;
    padding: 20px;
    border-bottom: 2px dashed black;
    text-align: center;
    border: 1px olid rgb(221, 132, 132);
    text-transform: uppercase;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.subTitulo {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 10px;
}

.pesquisaArvore{
    display: flex;
    flex-direction: column;
}

.pergunta{
    margin-bottom: 4px;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.negrito{
    font-weight: bold;
    padding: 20px;
}

.block{
    border-radius: 10px;
}

.divRadioArvore{
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bold;
}

.radioTroncos{
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.botaoEnviar {
    text-align: center;
    padding: 25px;
}

.botaoPesquisar{
    cursor: pointer;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.botaoPesquisar:active{
    border-color: rgb(4, 160, 12);
}

.botaoPesquisar:hover{
    color:black;
    background-color: rgb(97, 211, 52);
    font-weight: bolder;
    
}